{% extends "tracker/base.html" %}

{% block content %}
  <div class="jumbotron jumbotron-fluid">
    <div class="container d-flex justify-content-around">
      <h2>Confirmed Cases: {{ cases_confirmed }}</h2>
      <h2>Suspected Cases: {{ cases_suspect }}</h2>

      <div class="">
        <h2>Submit New Case</h2>
        <form class="form" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" name="" value="Submit">
        </form>
      </div>
    </div>
  </div>
{% endblock %}
